@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: axiforma-Light;
    src: url('../fonts/axiforma-Light.otf');
}

@font-face {
    font-family: axiforma-Heavy;
    src: url('../fonts/axiforma-Heavy.otf');
}

@font-face {
    font-family: Zabri;
    src: url('../fonts/Zabritzkyes.ttf');
}

@font-face {
    font-family: Recoleta;
    src: url('../fonts/Recoleta-SemiBold.ttf');
}

@font-face {
    font-family: Bodonio;
    src: url('../fonts/Bodonio.ttf');
}